<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-angular'></i>
    <span class="logo_name">BugManager</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#" class="active">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-list-ul'></i>
        <span class="links_name">List</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user'></i>
        <span class="links_name">Team</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-heart'></i>
        <span class="links_name">Following</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-file-plus'></i>
        <span class="links_name">New Query</span>
      </a>
    </li>
  </ul>
</div>
<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i (click) = "toggleSidebar()" class='bx bx-menu sidebarBtn'></i>
      <span class="dashboard">Dashboard</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search...">
      <i class='bx bx-search'></i>
    </div>
  </nav>

  <div *ngIf="isLoading$ | async" class="home-content" >
    <i class="fa fa-spinner fa-spin" style="font-size:40px; margin-left: 50%;"></i>
  </div>

  <div *ngIf="!(isLoading$ | async)" class="home-content">
    <div cdkDropList cdkDropListOrientation="horizontal" class="overview-boxes" (cdkDropListDropped)="drop($event)">

      <div title="Drag and drop" class="drag-drop box" *ngFor="let stat of mainDashboardTopStats" cdkDrag>
        <div class="right-side">
          <div class="box-topic">{{stat.title}}</div>
          <div class="number">{{stat.number}}</div>
          <div class="indicator">
            <i [ngClass]="stat.arrow"></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i [ngClass]="stat.icon"></i>
      </div>
  
    </div>

    <div class="sales-boxes">
      <div class="recent-sales box">
        <div class="title">Tickets</div>
        <div class="sales-details">
          <ul class="details">
            <li class="topic">Date</li>
            <li *ngFor="let ticket of tickets$ | async" 
            ><a href="#">{{ticket.date}}</a></li>
          </ul>
          <ul class="details">
            <li class="topic">Title</li>
            <li *ngFor="let ticket of tickets$ | async"><a href="#">{{previewTitle(ticket.title)}}</a></li>
          </ul>
          <ul class="details">
            <li class="topic">Status</li>
            <li class="ticket-status" [ngClass]="ticket.status.toLowerCase()"
            *ngFor="let ticket of tickets$ | async"><a href="#">{{displayStatus(ticket.status)}}</a></li>
          </ul>
          <ul class="details">
            <li class="topic">Category</li>
            <li class="ticket-category" *ngFor="let ticket of tickets$ | async"><a href="#">{{ticket.category}}</a></li>
          </ul>
        </div>
        <div class="button">
          <a href="#">See All</a>
        </div>
      </div>
      
    </div>
  </div>
</section>



